@import "../../styles/config/index";
@import "~bootstrap/scss/mixins";

.header {

  background-color: $white;
  border-bottom: 1px solid $gray-400;
  height: $header-height-mobile;
  font-size: 0.7em;

  @include media-breakpoint-up(lg) {

    height: $header-height;
    font-size: 1em;

  }

  sar-logo {
    flex: 1 0 auto;
    text-align: center;
  }

}
