$font-family-1: 'Luckiest Guy', cursive;
$font-family-2: 'Open Sans', sans-serif;

// Layout
$app-max-width: 1366px;
$spacer-y: 1rem !default;

// Header
$header-height: 60px;


// Colors
$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da; // d1d1d1
$gray-500: #adb5bd; // a2a2a2
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40; // 333333
$gray-900: #212529;
$black:  #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);


$dark-green: #136920;
$green: #3e8f32;
$yellow: #fdd003;
$orange: #f19319;


// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
$red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

