@import "../../../styles/config/variables";

$home-card-list-spacer-y: $spacer-y !default;

:host {
  display: block;
  background-color: $white;
}

sar-home-card {
  margin-bottom: $home-card-list-spacer-y;
}
