@import "../../../styles/config/index";

.btn {
  font-family: $font-family-base;
  text-transform: capitalize;
  position: relative;

  &:after {
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: 0;
  }
}

.dropdown-item {

  text-transform: capitalize;
  cursor: pointer;
}
