<div class="side-nav h-100">
  <h2>Filters:</h2>
  <div class="side-nav__filter-box">
    <h4>Property type</h4>
    <sar-dropdown [id]="'side-nav-filters'"
                  [classes]="'btn-primary text-left btn-block'"
                  [selected]="selectedFilter$ | async"
                  (selectedChange)="onFilterChange($event)"
                  [options]="filters$ | async"></sar-dropdown>
  </div>
  <div class="side-nav__filter-box">
    <h4>Sort by price</h4>
    <sar-dropdown [id]="'side-nav-order'"
                  [classes]="'btn-primary text-left btn-block'"
                  [selected]="selectedOrder$ | async"
                  (selectedChange)="onOrderChange($event)"
                  [options]="orders$ | async"></sar-dropdown>
  </div>
  <div class="mt-3">
    <sar-download-json [classes]="'btn-primary w-100'"
                       [data]="this.currentHomeCard$ | async"></sar-download-json>
  </div>
</div>
